.flex {
  display: flex;
}
.square {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin-right: -1px;
  margin-top: -1px;
}

.square.active{
background-color: blue;
}

.menu{
  margin-bottom: 10px;
}
.btn{
  margin-left: 20px;
  border: unset;
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border-radius: 5px;
}

.content{
  margin: 20px auto;
  width: fit-content;
}
.hover{
  margin-left: 20px;

}
.hover h2{
  margin-top: 0;
  margin-bottom: 10px;
}
.hover_item{
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: bisque;
  border-radius: 5px;
}